/*font-style: normal;
font-weight: normal (у текстів);
font-weight: bold або 500 (у заголовків);
color: #757575 (у текстів, у телефона в хедері)
color: #212121 (у заголовків, в хедері)
в футері адреса color:  #FFFFFF;
тел., електронка color: rgba(255, 255, 255, 0.6);  
letter-spacing: 0.03em (у лого, у текстів, в футері)
letter-spacing: 0.06em (в герої та у заголовків портфоліо)
letter-spacing: 0.02em (в хедері, крім лого);
background и color: #2196F3 (акцентний блакитний колір);
text-transform: uppercase; (у заголовка в герої та заголовків основних меседжів)
*/
/*Variables*/
/*ICONS */
/* HEADER STYLES */
/*HERO Styles*/

/*Main-messages styles*/


/*<!--Чим ми займаємося--> <!--Наша команда--> styles*/

/*<!--Наша команда-->*/
/*<!--Постійні клієнти-->*/
/*Portfolio styles*/
/*Portfolio-button styles*/
/*img-portfolio styles*/


/*footer styles*/

/*Footer ICONS */


/*footer form*/


/*Backdrop*/

