.main-messag {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;    
    }
    .container{
        @include font(var(--font-weigt-normal),14px,1.714,0.03em);
        color: var(--small-text-color);
    }
    .main-messag__list{
        margin-bottom: -30px;
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -30px;
        }
    }
    .main-messag__title {
        text-align: center;
        @include font(var(--font-weigt-bold),14px,1.143,0.03em);
        color: var(--main-text-color);
        text-transform: uppercase;
        @media screen and (min-width:768px) {
            text-align: left;
        }
    }
    .main-messag__item{
        width: 100%;
        margin-bottom: 30px;
        @media screen and (min-width:768px) {
            flex-basis: calc((100% - 2*30px) / 2);
            margin-right: 30px;
        }
        @media screen and (min-width:1200px) {
            flex-basis: calc((100% - 4*30px) / 4);
            margin-right: 30px;    
        }
        
        &::before{
            display: block;
            content: "";
            height: 120px;
            background-size: 100%;
            background-position: center;
            margin-bottom: 30px;
            background-repeat:no-repeat;
            }
        &:nth-child(1){
            &::before{
            background-image: url(../images/icons/message-icons/antenna.svg);
            }
        }
        &:nth-child(2){
            &::before{
            background-image: url(../images/icons/message-icons/clock.svg);
            }
        }
        &:nth-child(3){
           &::before{
            background-image: url(../images/icons/message-icons/diagram.svg);
            } 
        }
        &:nth-child(4){
            &::before{
            background-image: url(../images/icons/message-icons/astronaut.svg);
            }
        }
    }
    
}