:root {
    --main-font: 'Roboto', sans-serif;
    --accent-font: 'Raleway', sans-serif;
    --main-text-color: #212121;
    --small-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --accent-background-color: #2F303A;
    --social-icons-color:#AFB1B8;
    --font-weigt-normal: 'normal';
    --font-weigt-bold: bold;
    --font-weigt-500: 500;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }